
$header-mapas: (

    /* Los mapas nos permiten manejar valores que no son de la misma familia para despues implementarlos en components */
    color-backround: #2A3B9C,
    color-letters: white,
    color-letters-effect: #C0F5FF,
    buttom-color: white,

    letters-size: 21px,
    letters-weight: 300,
);